<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hello Parse App</name>
    <description>
        A sample Parse Application
    </description>
    <author email="fellyph.cintra@gmail.com" href="http://fellyph.com.br">
       Fellyph Cintra
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access uri="http://www.parsecdn.com/" subdomains="true" />
    <access uri="https://api.parse.com/" subdomains="true" />
</widget>
